@charset "utf-8";
/*靓号规则管理右边部分*/
.rightContent{
	width:calc(100%-254px);
	width: -moz-calc(100%-254px);
	width: -webkit-calc(100%-254px);
	height: 100%;
	margin-top: 10px;
	margin-left: 254px;
}
/*查询部分*/
.rightContent .researchNmuber{
	padding: 30px 0 30px 30px;
	background-color: #ffffff;
}
.rightContent .researchNmuber p{
	margin-bottom: 30px;
	font-size: 16px;
	color: #2f3033;
}
.rightContent .researchNmuber .inputDiv label {
	display: inline-block;
	margin-right: 10px;
	font-size: 16px;
	color: #2f3033;
}
.rightContent .researchNmuber .inputDiv input{
	width: 219px;
	height: 30px;
	display: inline-block;
	margin-right: 50px;
	background-color: #ffffff;
	border: none;
	border-radius: 2px;
	border: solid 1px #d3d5db;
}
.rightContent .researchNmuber .inputDiv select{
	width: 188px;
	height: 31px;
	display: inline-block;
	margin-right: 50px;
	background-color: #ffffff;
	border: none;
	border-radius: 2px;
	border: solid 1px #d3d5db;
}
.rightContent .researchNmuber .inputDiv .researchButton{
	width: 100px;
	height: 31px;
	background-color: #60a5f5;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	color: #ffffff;
	margin-right: 10px;
}
.rightContent .researchNmuber .inputDiv .resetButton{
	width: 100px;
	height: 31px;
	background-color: #f6faff;
	border: none;
	border-radius: 2px;
	border: solid 1px #9ecdfd;
	font-size: 14px;
	color: #60a5f5;
}
/*结果部分*/
.rightContent .numberList{
	padding: 20px 0 40px 30px;
	background-color: #ffffff;
}
.rightContent .numberList .listDiv label{
	display: inline-block;
	margin-right: 10px;
	font-size: 16px;
	color: #2f3033;
}
.rightContent .numberList .listDiv span{
	display: inline-block;
	width: 188px;
	height: 31px;
	line-height: 31px;
	background-color: #f4f4f4;
	border-radius: 2px;
	border: solid 1px #d3d5db;
	color: #686868;
	font-size: 12px;
	margin-right: 100px;
	vertical-align: middle;
}
.rightContent .numberList .listTable{
	margin-right: 100px;
}
.rightContent .numberList .listTable table{
	width: 100%;
	text-align: center;
}
.rightContent .numberList .listTable table tr:first-child{
	background-color: #f6faff;
}
.rightContent .numberList .listTable table tr td{
	border: solid 1px #9ecdfd;
	padding: 15px 0;
}
/*号码模式管理*/
.rightContent .modelManage{
	padding: 20px 0 40px 30px;
	margin-top: 10px;
	background-color: #ffffff;
}
	
.rightContent .modelManage p{
	font-size: 16px;
	color: #2f3033;
	margin-bottom: 30px;
}
.rightContent .modelManage .chooseDiv{
	marginbottom:20px;
}
.rightContent .modelManage .chooseDiv label{
	display: inline-block;
	margin-right: 10px;
	font-size: 16px;
	color: #2f3033;
}
.rightContent .modelManage .chooseDiv select{
   width: 180px;
	height: 30px;
	background-color: #ffffff;
	border: none;
	border-radius: 2px;
	border: solid 1px #d3d5db;
	margin-right: 100px;
}
.rightContent .modelManage .chooseDiv span{
	display: inline-block;
	width: 188px;
	height: 31px;
	line-height: 31px;
	background-color: #f4f4f4;
	border-radius: 2px;
	border: solid 1px #d3d5db;
	color: #686868;
	font-size: 12px;
	margin-right: 80px;
	vertical-align: middle;
}
.rightContent .modelManage .chooseDiv input{
	width: 180px;
	height: 30px;
	display: inline-block;
	margin-right: 50px;
	background-color: #ffffff;
	border: none;
	border-radius: 2px;
	border: solid 1px #d3d5db;
}
.rightContent .modelManage .chooseDiv  .researchButton{
	width: 100px;
	height: 31px;
	background-color: #60a5f5;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	color: #ffffff;
	margin-right: 10px;
}
.rightContent .modelManage .chooseDiv  .resetButton{
	width: 100px;
	height: 31px;
	background-color: #f6faff;
	border: none;
	border-radius: 2px;
	border: solid 1px #9ecdfd;
	font-size: 14px;
	color: #60a5f5;
}
.rightContent .modelManage .btnDiv{
    width: 150px;
    margin: 30px;	
}
.rightContent .modelManage .btnDiv .add{
    width: 150px;
    height: 45px;
    background-color: #60a5f5;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    color: #ffffff;
}
.rightContent .modelManage .btnDiv .amend{
	width: 100px;
	height: 31px;
	background-color: #60a5f5;
	font-size: 14px;
	color: #ffffff;
	margin-right: 10px;
	border: none;
}
.rightContent .modelManage .btnDiv .delete{
	width: 100px;
	height: 31px;
	background-color: #777777;
	font-size: 14px;
	color: #ffffff;
	margin-right: 10px;
	border: none;
}
.rightContent .modelManage .number_result{
	margin-right:100px;
}
.rightContent .modelManage .number_result table{
	width: 100%;
	text-align: center;
	margin-rignt:20px;
	margin-top:30px;
}
.rightContent .modelManage .number_result table tr:first-child{
	background-color: #f6faff;
}
.rightContent .modelManage .number_result table tr td{
	border: solid 1px #9ecdfd;
	padding: 15px 0;
}
.rightContent .modelManage .number_result table tr td .amend{
	width: 100px;
	height: 31px;
	background-color: #60a5f5;
	font-size: 14px;
	color: #ffffff;
	margin-right: 10px;
	border: none;
}
.rightContent .modelManage .number_result table tr td .delete{
	width: 100px;
	height: 31px;
	background-color: #777777;
	font-size: 14px;
	color: #ffffff;
	margin-right: 10px;
	border: none;
}
/*弹窗样式*/
#fullbg { 
background-color:gray; 
opacity:0.5; 
position:fixed; 
top:0; 
left:0; 
z-index:3; 
filter:alpha(opacity=50); 
-moz-opacity:0.5; 
-khtml-opacity:0.5; 
} 
#dialog { 
width: 590px;
height: 449px;
margin-bottom: 100px;
background-color: #ffffff;
/*position:fixed !important;*/ /* 浮动对话框 */ 
position:absolute; 
z-index:5; 
border-radius:5px; 
display:none; 
} 
#dialog p{
	width: 590px;
	height: 60px;
	line-height: 40px;
	padding: 10px 30px;
	background-color: #60a5f5;
	font-size: 20px;
	color: #ffffff;
	
}
#dialog form{
	width: 590px;
}
#dialog form .formDiv{
	width: 280px;
	margin: 50px auto;
}
#dialog form .labelDiv{
	margin-bottom: 20px;
	position: relative;
}
#dialog form .labelDiv label{
	display: inline-block;
	width: 65px;
	margin-right: 10px;
	font-size: 16px;
	color: #2f3033;
}
#dialog form .labelDiv input{
	width: 188px;
	height: 30px;
	border: none;
	border-radius: 2px;
	border: solid 1px #d3d5db;
}
#dialog form .labelDiv select{
	width: 188px;
	height: 30px;
	border: none;
	border-radius: 2px;
	border: solid 1px #d3d5db;
}
#dialog .btnDiv{
	width: 490px;
	margin: 0 auto;
}
#dialog .btnDiv .sure{
	width: 230px;
	height: 60px;
	background-color: #60a5f5;
	color: #ffffff;
	font-size: 18px;
	border: none;
	margin-right: 10px;
}
#dialog .btnDiv .cancel{
	width: 230px;
	height: 60px;
	background-color: #cccdcc;
	color: #ffffff;
	font-size: 18px;
	border: none;
}
#deleteDialog{
width: 600px;
height: 330px;
margin-bottom: 100px;
background-color: #ffffff;
/*position:fixed !important;*/ /* 浮动对话框 */ 
position:absolute; 
z-index:5; 
border-radius:5px; 
display: none;
}
#deleteDialog p{
	height: 60px;
	line-height: 40px;
	padding: 10px 30px;
	background-color: #60a5f5;
	color: #ffffff;
	font-size: 20px;
}
#deleteDialog .text{
	width: 320px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 70px auto;
	font-size: 22px;
	color: #2f3033;
	position: relative;
}
#deleteDialog .btnDiv{
	width: 470px;
	margin: 20px auto;
}
#deleteDialog .btnDiv .sure{
    width: 230px;
	height: 63px;
	background-color: #60a5f5;
	border: none;
	font-size: 20px;
	color: #ffffff;
	margin-right: 10px;	
}
#deleteDialog .btnDiv  .cancel{
	width: 230px;
	height: 63px;
	background-color: #cccdcc;
	border: none;
	font-size: 20px;
	color: #ffffff;
}
.tip{
	width: 445px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0.7;
    color: #ffffff;
    z-index: 99;
    font-size: 20px;
    position: absolute;
    left: -20px;
    top:-20px;
    display: none;
}
